.pagination {
    display: flex;
    gap: 12px;
    width: fit-content;
    margin: 0 auto 30px;
    align-items: center;
}

.buttonPagination,
.textPagination {
    background-color: rgb(240, 240, 240);
    border-radius: 13px;
    padding: 10px;
}

.buttonPagination[disabled] {
    opacity: .5;
}